body {
    margin:0;
}

h1 {
    margin-left: 15px;
    text-align: right;
    font-family: "Roboto Light", sans-serif;
    color: #000000;
}

.game {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
}

.statisticsBox{
    width:auto;
    display: none;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: stretch;
    margin: 15px 15px 15px 15px;
    border-radius: 18px 18px 18px 18px;
    -moz-border-radius: 18px 18px 18px 18px;
    -webkit-border-radius: 18px 18px 18px 18px;
    border: 0 solid #000000;
    -webkit-box-shadow: 10px 10px 12px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 12px -9px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 12px -9px rgba(0,0,0,0.75);
    background: rgba(15, 15, 15, 0.2);
}
.gameBox{
    width:100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    margin: 15px 15px 15px 15px;
    border-radius: 18px 18px 18px 18px;
    -moz-border-radius: 18px 18px 18px 18px;
    -webkit-border-radius: 18px 18px 18px 18px;
    border: 0 solid #000000;
    -webkit-box-shadow: 10px 10px 12px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 12px -9px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 12px -9px rgba(0,0,0,0.75);
    background: rgba(15, 15, 15, 0.2);
}

.character {
    width:95%;
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: baseline;
    align-content: flex-start;
    margin: 15px 15px 15px 15px;
    border-radius: 18px 18px 18px 18px;
    -moz-border-radius: 18px 18px 18px 18px;
    -webkit-border-radius: 18px 18px 18px 18px;
    border: 0 solid #000000;
    -webkit-box-shadow: 10px 10px 12px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 12px -9px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 12px -9px rgba(0,0,0,0.75);
    background: rgba(15, 15, 15, 0.2);
}

.characterBox{
    margin: 15px 15px 15px 15px;
}

.textBox{
    margin: 10px;
    font-family: "Roboto Light", sans-serif;
}

.heroicName{
    margin: 10px 10px 5px 10px;
    font-family: "Roboto Light",sans-serif;
    font-size: 120%;
}

.hp{
    margin: 0px 10px 0px 10px;
    font-family: "Roboto Light", sans-serif;
}

.level{
    margin: 0px 10px 0px 10px;
    font-family: "Roboto Light", sans-serif;
}

.xp{
    margin: 0px 10px 0px 10px;
    font-family: "Roboto Light", sans-serif;
}

.inventory{
    margin: 0px 10px 0px 10px;
    font-family: "Roboto Light", sans-serif;
}

.knowledge{
    margin: 0px 10px 0px 10px;
    font-family: "Roboto Light", sans-serif;
}

.buttonsBox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: space-around;
    margin: 10px;
}

.button {
    margin: 5px;
}

.statisticsText{
    margin: 10px;
    font-family: "Roboto Light", sans-serif;
}

.deleteSave {
    float: left;
    margin: 5px;
}

.bar {
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
    align-content: stretch;
    width:100%;
    background: rgba(15, 15, 15, 0.2);
}

.colorMode {
    margin-right:15px;
}